
// COLORS
$color-primary:#55c57a;
$color_light_green: #7ed56f;
$color_dark_green:#28b485;
$color_dark_grey:#777;
$color_black:#000;
$color_white:#fff;
$color-grey-light-1: #F7F7F7;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font size
$default-font-size:1.6rem;